:root {
  --font-size: 0.875rem;
  --tiny-font: 0.52rem;
  --small-font: 0.69rem;
  --med-small-font: 0.77rem;
  --medium-font: 1.5rem;
  --large-font: 2rem;
  --footer-font: 0.78rem;
  --padding-one: 1rem;
  --padding-half: 0.45rem;
  --padding-two: 2rem;

  --neutral-900: hsl(33, 15%, 15%);
  --neutral-800: hsl(33, 22%, 20%);
  --neutral-700: hsl(32, 20%, 29%);
  --neutral-600: hsl(33, 17%, 41%);
  --neutral-400: hsl(36, 22%, 86%);
  --neutral-200: hsl(30, 24%, 93%);
  --neutral-100: hsl(35, 60%, 96%);
  --neutral-50: hsl(40, 60%, 98%);
  --neutral-0: hsl(0, 0%, 100%);

  --sun-500: hsl(42, 83%, 58%);
  --sun-300: hsl(44, 84%, 75%);
  --sun-200: hsl(45, 100%, 74%);
  --sun-50: hsl(41, 100%, 93%);

  --terracotta-700: hsl(15, 69%, 37%);
  --terracotta-600: hsl(15, 74%, 41%);
  --terracotta-500: hsl(18, 62%, 47%);
  --terracotta-400: hsl(22, 72%, 56%);

  --blue-500: hsl(230, 49%, 56%);

  --rose-500: hsl(340, 48%, 52%);
}

@font-face {
  font-family: "MonoReg";
  src: url(./assets/fonts/dm-mono/DMMono-Regular.ttf);
}

@font-face {
  font-family: "DmSans";
  src: url(./assets/fonts/dm-sans/DMSans-VariableFont_opsz\,wght.ttf);
}

@font-face {
  font-family: "Fraunces";
  src: url(./assets/fonts/fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf);
}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve centering within parent */
  min-height: 100vh;

  /* font-family: MonoReg, serif; */
  background-color: var(--neutral-100);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.container {
  padding: var(--padding-one);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.digitone {
  background-color: var(--terracotta-700);
  color: var(--neutral-0);
  font-size: var(--tiny-font);
  width: 0.7rem;
  height: 0.8rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-section--mobile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid var(--neutral-400);

  width: 20rem;
}

.sidebar {
  display: none;
}

.sidebar.active {
  display: block;
  background-color: var(--neutral-100);
  transition-duration: 3s;
  height: 100vh;

  transition: margin-right 3s;
}

.nav-links {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-half);
  border-radius: 0.56rem;
  font-family: DmSans, sans-serif;
}
.nav-links:active {
  background-color: var(--neutral-0);
  animation-duration: 5s;
}
.nav-links:hover {
  border: 2px solid var(--terracotta-700);
}
/*
.topnav {
  overflow: hidden;
  position: relative;
}
*/
.site-logo {
  padding-bottom: var(--padding-half);
  padding-top: 0;
  margin-top: 0;
}

.topnav {
  text-align: left;
  padding-top: 1rem;
}
.nav-icons {
  padding-right: 0.5rem;
}

.sidebyside {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.menu-weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 10rem;
}

#closeBtn {
  display: none;
  cursor: pointer;
}
#closeBtn.active {
  display: block;
}

#openBtn {
  cursor: pointer;
}
#openBtn.active {
  opacity: 0;
}

.weather-area {
  background-color: var(--sun-200);
  width: 100%;
  height: 7rem;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
  margin-bottom: 3rem;
}
.weather-icon {
  top: -20px;
  right: 0px;
  float: right;
  position: absolute;
}
.sun-area {
  padding: 1rem;
}

.footer-nav--text {
  font-family: MonoReg;
  color: var(--neutral-700);
  text-transform: uppercase;
  font-weight: 500;
  font-size: var(--footer-font);
  line-height: 150%;
  padding-top: var(--padding-half);
  padding-bottom: var(--padding-half);
}

.border-top {
  border-top: 2px dotted var(--neutral-400);
}
/* recipt cards */

.receipt-card {
  background-color: var(--neutral-0);
  box-shadow: 0px 5px 10px rgb(196, 195, 195);
  border-radius: 1rem;
  padding: var(--padding-one);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 23rem;
  margin-bottom: var(--padding-one);
  margin-top: var(--padding-one);
}

.welcome-card {
  background-color: var(--terracotta-700);
  box-shadow: 0px 5px 10px var(--neutral-600);
  border-radius: 1rem;
  padding: var(--padding-one);
  width: 20rem;
  height: 23rem;
}

.booking-text {
  text-align: left;
}

.welcome-message {
  font-family: Fraunces, sans-serif;
  font-weight: 400;
}

#customerName {
  font-style: italic;
  color: var(--terracotta-700);
}
button {
  width: 9rem;
  border: none;
  border-radius: 1rem;
  font-family: DmSans;
  font-weight: 600;
  font-size: var(--small-font);
  padding: var(--padding-half);
  cursor: pointer;
}
button:hover {
  border: 2px solid var(--terracotta-700);
}
.receipt-btn {
  background-color: var(--neutral-0);
  border: 0.5px solid var(--neutral-400);
  color: var(--neutral-900);
}
.calendar-btn {
  background-color: var(--neutral-900);
  color: var(--neutral-0);
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
/* used to center and flow row*/
.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-space-col {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.gap {
  gap: 1rem;
}

.flex-space {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: first baseline;
}

.receipt-section-one {
  border-bottom: 2px dotted var(--neutral-400);
  width: 100%;
}

.receipt-section-two {
  border-bottom: 1px solid var(--neutral-900);
  width: 100%;
}
.receipt-section-three {
  width: 100%;
}

.uppercase-textsmall {
  color: var(--neutral-700);
  text-transform: uppercase;
  font-size: var(--small-font);
  font-family: MonoReg;
}

.uppercase-textmed {
  color: var(--neutral-700);
  text-transform: uppercase;
  font-size: var(--font-size);
  font-family: MonoReg;
}
.total-text {
  font-weight: 500;
  font-family: Fraunces;
  font-size: var(--medium-font);
}
.text-medium {
  font-size: var(--medium-font);
}

.left-text {
  text-align: right;
}

.text-large {
  font-size: var(--large-font);
  font-family: Fraunces, sans-serif;
}

.top-space {
  padding-top: var(--padding-one);
}
.bottom-space {
  padding-bottom: var(--padding-one);
}

.left-padding {
  padding-left: var(--padding-half);
}
.date-text {
  font-family: DmSans;
  font-size: var(--small-font);
  font-weight: 500;
  padding-bottom: var(--padding-one);
  color: var(--neutral-700);
}

.prices-text {
  font-family: MonoReg, sans-serif;
  font-size: var(--med-small-font);
  font-weight: 600;
}

.tax-text {
  font-family: DmSans, sans-serif;
  font-size: var(--med-small-font);
}

.total-area {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items:flex-start;
  gap: 1rem;
}

.welcome-card {
  background: linear-gradient(
    0.25turn,
    var(--terracotta-700),
    var(--terracotta-400)
  );
}

.welcome-card-section-one {
  width: 100%;
  border-top: 1px dashed var(--sun-300);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.welcome-card-message {
  margin-bottom: var(--padding-one);
}
.welcome-text {
  text-transform: uppercase;
  color: var(--neutral-400);
  font-size: var(--small-font);
  font-family: DmSans;
  padding-top: var(--padding-one);
}
.welcome-sun {
  margin-top: var(--padding-one);
}

.host-note {
  color: var(--sun-500);
  font-family: Fraunces;
  font-style: italic;
}

.host-name {
  font-family: Fraunces;
  color: var(--neutral-0);
  font-size: var(--large-font);
  font-weight: 400;
  font-style: italic;
}

.host-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: first baseline;
  padding-bottom: var(--padding-one);
}

.host-message {
  color: var(--neutral-0);
  font-family: DmSans;
  font-size: var(--med-small-font);
  padding-bottom: var(--padding-two);
}

.room-number {
  color: var(--neutral-0);
  font-weight: 400;
}

.mini-cards {
  background-color: var(--neutral-0);
  width: 20rem;
  height: 13rem;
  margin-bottom: var(--padding-half);
  margin-top: var(--padding-half);
  border-radius: 1rem;
  box-shadow: 0px 5px 10px rgb(196, 195, 195);
  padding: var(--padding-one);
}

.key-icon {
  background-color: var(--terracotta-700);
  padding: 0.2rem;
  border-radius: 0.3rem;
}

.key-top-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.arrival-text {
  color: var(--terracotta-600);
  text-transform: uppercase;
  font-family: MonoReg;
  font-weight: 600;
  font-size: var(--med-small-font);
}

.arrival-number {
  color: var(--terracotta-600);
  text-transform: uppercase;
  font-family: Fraunces;
  font-weight: 600;
}

.checkin-time {
  font-size: var(--medium-font);
  font-family: Fraunces;
  padding-top: var(--padding-half);
  padding-bottom: var(--padding-half);
}

.card-text {
  font-size: var(--med-small-font);
  font-family: DmSans;
  color: var(--neutral-700);
  font-weight: 500;
}

.wifi-icon {
  background-color: var(--blue-500);
  padding: 0.2rem;
  border-radius: 0.3rem;
}

.wifi-top-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.wifi-number {
  color: var(--blue-500);
  text-transform: uppercase;
  font-family: Fraunces;
  font-weight: 600;
}
.wifi-text {
  color: var(--blue-500);
  text-transform: uppercase;
  font-family: MonoReg;
  font-weight: 600;
  font-size: var(--med-small-font);
}

.copy-btn {
  background-color: var(--neutral-200);
  border: 0.5px solid rgb(183, 182, 182);
  height: 1.1rem;
  width: 2.1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: var(--tiny-font);
  color: var(--neutral-600);
  margin-left: 0.4rem;
  cursor: pointer;
}

.network-area {
  background-color: var(--neutral-200);
  border-radius: 0.3rem;
  width: 100%;
  padding: 0.4rem;
  margin-bottom: 0.2rem;
}

.wifi-text-right {
  font-family: DmSans;
  font-size: var(--small-font);
  font-weight: 600;
  color: var(--neutral-700);
}

.breakfast-icon {
  background-color: var(--rose-500);
  padding: 0.2rem;
  border-radius: 0.3rem;
}

.breakfast-top-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.breakfast-number {
  color: var(--rose-500);
  text-transform: uppercase;
  font-family: Fraunces;
  font-weight: 600;
}
.breakfast-text {
  color: var(--rose-500);
  text-transform: uppercase;
  font-family: MonoReg;
  font-weight: 600;
  font-size: var(--med-small-font);
}

@media (min-width: 47.50rem) {
  body {
    margin: 0;
    padding: 0;
  }

  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .topsection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .mainarea {
    padding: 1rem;
    width: 80%;
    position: relative;
  }
  .sidesection {
    width: 20%;
  }

  .bottomsection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .guest-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
  }

  .topcards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .sidesection {
    padding: 2rem;
    border-right: 1px solid var(--neutral-400);
  }

  #openBtn {
    display: none;
  }
  .receipt-card {
    transform: translate(10px, 0px) rotate(-15deg);
  }
  .welcome-card {
    z-index: 1;
    transform: translate(30px, 20px) rotate(5deg);
  }
  .sidebar {
    display: block;
  }
}

@media print {
  html,
  body,
  .page {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}



/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms;
    animation-iteration-count: 1;
    transition-duration: 0.01ms;
    scroll-behavior: auto;
  }
}
